			<div id="wrap_headline">
				<div id="spacehack"></div>
				<a href="{{site.layoutprefix}}/" id="link_logo"></a>
				<div id="menutoggle">
					<label for="nav-trigger"><svg xmlns="http://www.w3.org/2000/svg" height="2.5em" width="2.5em" viewBox="0 0 440 365"><rect height="75" width="440" y="0" x="0"/><rect height="75" width="440" y="145" x="0"/><rect height="75" width="440" y="290" x="0"/></svg></label>
				</div>
				<input type="checkbox" id="nav-trigger" autocomplete="off">
				<ul id="menu">
					<li class="menu_item"><a href="{{site.layoutprefix}}/about/" class="menu_{% if page.url == '/about/' %}active{% else %}link{% endif %}">About</a></li>
					<li class="menu_item"><a href="{{site.layoutprefix}}/download/" class="menu_{% if page.url == '/download/' %}active{% else %}link{% endif %}">Download</a></li>
					<li class="menu_item"><a href="{{site.layoutprefix}}/support/" class="menu_{% if page.url == '/support/' %}active{% else %}link{% endif %}">Get Support</a> <a class="sub {% if page.url == '/support/' %}menu_active{% endif %}" href="#"><svg width="1em" height="1em" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1683 808l-742 741q-19 19-45 19t-45-19l-742-741q-19-19-19-45.5t19-45.5l166-165q19-19 45-19t45 19l531 531 531-531q19-19 45-19t45 19l166 165q19 19 19 45.5t-19 45.5z"/></svg></a>
						<ul>
							<li><a href="{{site.layoutprefix}}/support/" class="menu_{% if page.url == '/support/' %}active{% else %}link{% endif %}">Get Support</a></li>
							<li><a href="{{site.layoutprefix}}/support/faq/" class="menu_link">FAQ</a></li>
							<li><a href="{{site.layoutprefix}}/docs/" class="menu_link">Manuals</a></li>
						</ul>
					</li>
					<li class="menu_item"><a href="{{site.layoutprefix}}/contribute/" class="menu_{% if page.url == '/contribute/' %}active{% else %}link{% endif %}">Contribute</a></li>
				</ul>
			</div>
